.card
  font-style: normal
  display: grid
  gap: 5px 12px
  grid-template-areas: "🖼️ loc" "🖼️ title" "🖼️ time" "🖼️ desc"
.cardImg
  grid-area: 🖼️
  height: 140px
  object-fit: cover
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  border-radius: 5px
.cardLocation
  display: flex
  grid-area: loc
  gap: 5px
  align-items: center
  .cardIc
    width: 7px
  .cardCountry
    font-size: 9px
    letter-spacing: 0.17em
.cardTitle
  grid-area: title
  font-weight: bold
  font-size: 19px
  line-height: 30px
.cardTime
  grid-area: time
  font-weight: bold
  font-size: 10.24px
  line-height: 12px
.cardDesc
  grid-area: desc
  font-size: 9.5px
  line-height: 12px
  width: 170px
