@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #23252C;
}

#root {
  margin: 2rem auto;
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background: #161619;
  overflow: hidden;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}


nav > a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 11px;
}

nav > a:first-of-type{
  padding-left: 25px;
}
nav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(229, 229, 229);
}

.picture {
  width: 100%;
}

.profile {
  width: 100%;
  background: #1A1B21;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile--name {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 21px 0 0 0;
}

.profile--title {
  color: #F3BF99;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  margin: 6px 0 0 0;
}

.profile--website {
  color: #F5F5F5;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  margin: 9px 0 0 0;

}

.profile--connect {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
  margin: 15px 0 0 0;
}

.profile--connect>a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 9px 13px 9px 11px;

  width: 115px;
  height: 34px;
  padding: 9px 13px 9px 11px;
  column-gap: 8px;
  text-decoration: none;
}

.profile--connect>a>img {
  width: 16px;
}

.mail_btn {

  background: #FFFFFF;
  /* border: 1px solid #D1D5DB; */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #374151;

}

.li_btn {
  background: #5093E2;
  /* border: 1px solid #D1D5DB; */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #FFFFFF;
}

.profile--info {
  max-width: 250px;
  margin: 27px 0 24px 0;
}

.profile--info>h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
  margin: 0;
}

.profile--info>p {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  margin: 5px 0 15px 0;
  color: #DCDCDC;
}

.icons {
  height: 64px;
  width: 100%;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 25px;
}