@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #23252c;
}

#root {
  margin: 2rem auto;
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
