@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap")

body
  font-family: "Inter", sans-serif
  background: #23252c
#root
  margin: 10px auto
  width: 317px
  display: flex
  flex-direction: column

nav
  background: #161619
  display: flex
  overflow: hidden
  border-radius: 10px 10px 0px 0px
  a
    padding: 20px 25px 15px
    &:first-of-type
      padding-left: 35px
    &:hover
      background-color: rgb(0, 0, 0)
  img
    width: 22px

footer
  height: 64px
  background: #161619
  border-radius: 0px 0px 10px 10px
  display: flex
  column-gap: 24px
  justify-content: center
  align-items: center
  img
    width: 25px

main.home
  background: #1a1b21
  color: white
  display: flex
  flex-direction: column
  align-items: center
  line-height: 15px
  .name
    font-weight: 700
    font-size: 25px
    line-height: 30px
    margin-top: 21px
  .title
    color: #f3bf99
    font-size: 12.8px
    margin-top: 6px
  .website
    color: whitesmoke
    font-size: 10.24px
    margin-top: 9px
  .connect
    display: flex
    column-gap: 17px
    margin-top: 15px
    height: 34px
    a
      display: flex
      align-items: center
      justify-content: center
      width: 115px
      column-gap: 8px
      img
        width: 16px
  .mailBtn
    background: white
    border-radius: 6px
    color: black
  .liBtn
    background: #5093e2
    border-radius: 6px
  .info
    display: flex
    flex-direction: column
    margin: 27px 34px
    row-gap: 25px
    .infoTitle
      text-transform: capitalize
      font-weight: bold
      font-size: 16px
      color: whitesmoke
    .infoText
      font-size: 10.24px
      margin-top: 10px
      color: darken(white, 14%)

main.education
  display: flex
  flex-direction: column
  background: rgb(255, 255, 255)
  row-gap: 25px
  padding: 15px
  .card
    font-style: normal
    display: grid
    column-gap: 12px
    grid-template-areas: "🖼️ loc" "🖼️ title" "🖼️ time" "🖼️ desc"
    align-items: center
    .cardImg
      grid-area: 🖼️
      height: 140px
      object-fit: cover
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      border-radius: 5px
    .cardLocation
      margin-top: 5px
      display: flex
      grid-area: loc
      gap: 5px
      align-items: center
      .cardIc
        width: 7px
      .cardCountry
        font-size: 9px
        letter-spacing: 0.17em
    .cardTitle
      grid-area: title
      font-weight: bold
      font-size: 19px
    .cardTime
      grid-area: time
      font-weight: bold
      font-size: 10.24px
    .cardDesc
      grid-area: desc
      font-size: 9.5px
      line-height: 12px
      width: 170px
